<ion-header class="primary-bg" no-border>
	<ion-navbar>
		<ion-buttons start>
			<button ion-button icon-only color="light">
				<ion-icon name="md-add"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>RECIPE ARCHIVE</ion-title>
		<ion-buttons end>
			<button ion-button icon-only color="light">
				<ion-icon name="md-menu"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
  <ion-toolbar>
    <ion-segment mode="md" [(ngModel)]="vm.mode">
    	<ion-segment-button value="one">
    		DESSERT
        <div class="bolder-sm"></div>
    	</ion-segment-button>
    	<ion-segment-button value="two">
        DRINKS
        <div class="bolder-sm"></div>
      </ion-segment-button>
      <ion-segment-button value="three">
        EINKORN
        <div class="bolder-sm"></div>
      </ion-segment-button>
      <ion-segment-button value="four">
        LIFESTYLE
        <div class="bolder-sm"></div>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [hidden]="vm.mode != 'one'">
    <ion-slides *ngIf="vm.dessertSlides && vm.dessertSlides.length > 0" centeredSlides="true" slidesPerView="2" initialSlide="1" loop="true" autoplay="3000">
      <ion-slide *ngFor="let item of vm.dessertSlides">
        <img [src]="item.src" alt="">
      </ion-slide>
    </ion-slides>
    
    <div text-center padding *ngFor="let item of vm.dessertList">
      <h5><strong>{{item.title}}</strong></h5>
      <p>{{item.desc}}</p>
      <img [src]="item.src" alt="" style="width: 100%;">
    </div>
  </div>
  <div [hidden]="vm.mode != 'two'">
    二
  </div>
  <div [hidden]="vm.mode != 'three'">
    三
  </div>
  <div [hidden]="vm.mode != 'four'">
    四
  </div>
</ion-content>
